#ngfor{
  padding-top: 5%;
  gap: 10px;
}
#id{
  display: flex;
  justify-content: center;
}
#name{
  display: flex;
  justify-content: center;
}
#create{
  justify-content: center;
  display: flex;
}
#bf{
  justify-content: center;
  display: flex;
}
#getall{
  margin-right: 5%;
}
